*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position:relative;
    overflow: hidden;
    background:lightcyan;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 25px;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navlinks ul li a{
    color: darkslategray;
    text-decoration: none;
}
.home{
    width: 80%;
    position: relative;
    margin: 200px auto;
    text-align: center;
}
.explore{
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 100px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .explore{
    background-color: whitesmoke; 
    color: black; 
    border: 2px solid lightcoral;
  }
  
  .explore:hover {
    background-color: lightcoral;
    color: white;
  }
  
  .projects{
    width: 80%;
    position: relative;
    margin: 200px auto;
    text-align: center;
  }
  .myprojects{
    width: 70%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    flex: 1;
    text-align: right;
  }
  .myprojects ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
  }
 
  .myprojects ul li img{
      width: 250px;
  }
